In [5]:
import pandas as pd
aa = [1,2,3,4]
bb =[5,6,7,8]
cc = [9,10,11,12]

pd.DataFrame({"aa":aa, "bb":bb, "cc":cc})

   aa  bb  cc
0   1   5   9
1   2   6  10
2   3   7  11
3   4   8  12

In [6]:
pd.DataFrame([aa,bb,cc])

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [2]:
import pickle

model = pickle.load(open("app/model/model.pkl", "rb"))
prediction = model.predict([[140, 7.14, 12620.0, 5344, 24, 43430]])
prediction

/Users/administrador/.pyenv/versions/3.11.1/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

array([5.4719832])